BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Attach
ColumnLimit: 1200
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: None
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
InsertBraces: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignEscapedNewlines: DontAlign
